
@{
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h1 id="h1">About US</h1>
        <p class="paragraph">
            Call anywhere in the world<br />
            for LESS with AirMob Direct!<br />
            No hidden connection fees or surcharges<br />
            No PIN to remember with our state of the art<br />
            PINLESS dialing system<br />

            AirMob Group Plc is one of the world's leading telecommunications groups, with a significant
            presence in Europe, the Middle East, Africa and Asia Pacific through the company's subsidiary undertakings,
            joint ventures, associated undertakings and investments.<br />
            Call anywhere in the world for less. AirMob  Direct offers you the best rates, service and reliability of
            any card on the market.<br />
            In addition to our well-known retail products, we now offer our new online AirMob Direct Gold service.<br />
            Where we operate<br />
            <h1 style="color:purple;font-size:36px;">“The future is exciting. Ready?” </h1>
            <img src="~/Images/about.jpg" style="height:400px;width:100%;" />

            We are one of the largest telecommunications companies providing a wide range of services to both consumer and
            enterprise customers. We offer Mobile, Fixed and TV to our consumer customers and are an industry leader in
            IOT delivering cloud,<br />
            security and carrier services to our enterprise customers.
        </p>
    </div>
    </div>
</body>
</html>
