
@{
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div> 
        <img src="~/Images/map.jpg" style="height:400px;width:100%;" />   
    </div>
</body>
</html>
