
@{
    Layout = "~/Views/Shared/_LayoutDesign.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <title>HomeView</title>
  @*<script>
      document.write("<h2>HII" + sessionStorage.MobileID+"</h2>")
    </script>*@
    <script type="text/javascript" src="~/Scripts/Validation.js"></script>
</head>
<body>
    <div> 
        

        @*<label id="label"></label>
        <input type="button" onclick="getvalue()" value="getvalue" />*@
    </div>
</body>
</html>
